{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false
}
